body {
  background-color: beige;
}

#man {
  width: 200px;
}

#notice {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
}

#warning {
  background-color: red;
  border: solid black 2px;
}